.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 2rem 0 5rem 0;
  user-select: none;

  &-logo {
    width: 6rem;
    height: 6rem;
    position: relative;
    background-color: $color-tertiary-2;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      background: url(../img/BD_logo.svg);
      background-size: contain;
    }
  }

  &__markup-big {
    position: absolute;
    top: 12rem;
    font-family: $font-4;
    letter-spacing: 1.5rem;
    font-weight: inherit;
    font-size: 20rem;
    white-space: nowrap;
    margin-left: -7.5rem;
    transition: transform 0.3s ease-out;

    @include response(tabX) {
      display: none;
    }
  }

  &__markup-clock {
    position: absolute;
    font-family: $font-1;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 500;
    top: 3rem;
    right: 10rem;
    color: $color-tertiary-2;

    @include response(tabS) {
      right: 2rem;
      display: none;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-left: 10rem;
    font-size: 5rem;
    position: relative;
    font-family: $font-3;
    font-weight: 300;
    width: fit-content;

    @include response(tabS) {
      margin-left: 2rem;
    }
  }

  &__typography {
    display: flex;
    flex-direction: column;
    height: 30rem;
    padding: 0 15rem;
    position: relative;

    @include response(tabX) {
      padding: 5rem;
    }

    &-quote,
    &-quiz {
      width: 60rem;
      height: 25rem;
      transition: all 0.2s ease-out;
      position: relative;

      @include response(tabS) {
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 35%;
        transform: translateY(-30%);
        width: 56rem;
        height: 1px;
        background-color: $color-tertiary;

        @include response(tabX) {
          display: none;
        }
      }
    }

    &-quote {
      text-align: end;

      @include response(tabP) {
        text-align: start;
      }

      &::after {
        left: 62.5rem;
      }
    }

    &-quiz {
      align-self: flex-end;

      @include response(tabP) {
        align-self: flex-start;
      }

      &::after {
        right: 62.5rem;
      }
    }

    &-heading {
      padding: 0.5rem 0;
    }
  }

  &__span-text {
    font-size: 2rem;
    position: absolute;
    bottom: -2.5rem;
    right: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    letter-spacing: 1rem;
  }
}
