.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50rem;
  height: 50rem;
  // border-top-left-radius: 100%;
  // border-bottom-right-radius: 100%;
  background-color: $color-BG;
  // transform: rotateZ(-45deg);
  // z-index: 1;
  display: none;
}
