.section {
  min-height: 100vh;
  padding: 5rem 10rem;
  position: relative;
  border-top: 2px solid;

  @include response(tabX) {
    padding: 5rem 3rem;
  }

  &__heading {
    font-size: 8rem;
    font-weight: 300;
    font-family: $font-1;
    line-height: 7rem;
    padding: 0 0 1rem 1rem;
    margin-bottom: 5rem;
    border-left: 0.3rem solid $color-tertiary-2;

    @include response(tabS) {
      font-size: 5rem;
      border-left: 0;
    }
  }

  &__para {
    margin-left: 10rem;
    width: 70rem;
    margin-bottom: 5rem;

    @include response(tabX) {
      margin-left: 0rem;
    }
    @include response(tabS) {
      width: 100%;
    }
  }

  &__images {
    display: flex;
    justify-content: end;
    @include response(tabX) {
      justify-content: flex-start;
      flex-direction: column;
      row-gap: 1rem;
    }
  }

  &__img {
    object-fit: cover;
    border: 1.5rem solid $color-tertiary-2;
    outline: 1px solid $color-tertiary-2;
    transition: transform 0.5s ease-out, filter 0.5s;
    padding: 1rem;
    filter: brightness(1.1);

    &:hover {
      filter: brightness(1.3);
    }

    @include response(tabX) {
      border: 0.5rem solid $color-tertiary-2;
      outline: 1px solid $color-tertiary-2;
    }

    &--1 {
      width: 50rem;
      height: 35rem;
      transform: rotateZ(deg);
      margin-top: -15rem;
      margin-right: 0;

      @include response(tabX) {
        margin: unset;
        width: 30rem;
        height: 20rem;
        align-self: flex-end;
      }
    }

    &--2 {
      width: 40rem;
      height: 30rem;
      z-index: 1;
      margin-right: -15rem;
      margin-top: -2rem;
      @include response(tabX) {
        margin: unset;
        width: 30rem;
        height: 20rem;
      }
    }
  }
}

.projects {
  margin-top: 10rem;

  @include response(tabS) {
    margin-top: 0;
  }

  &__project {
    display: flex;
    padding: 3rem;
    column-gap: 5rem;
    align-items: center;
    border-bottom: 0.1rem solid $color-tertiary;
    transition: all 0.5s ease-out;

    @include response(tabS) {
      padding: 3rem 0;
    }

    @include response(tabP) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:hover {
      background-color: $color-secondry-2;
    }

    &:first-child {
      border-top: 0.1rem solid $color-tertiary;
    }

    &-heading {
      font-size: 2.6rem;
      font-family: $font-2;
    }

    &-para {
      width: 50rem;
      font-family: $font-2;
      margin-left: auto;

      @include response(tabP) {
        margin-left: unset;
        width: 100%;
      }
    }

    &-icon {
      font-size: 4rem;
      margin-left: 1rem;
    }
  }

  &__img {
    width: 25rem;
    height: 16.7rem;

    @include response(tabP) {
      width: 100%;
    }

    &--1 {
      background: url(../img/P-1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--2 {
      background: url(../img/P-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--3 {
      background: url(../img/P-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--4 {
      background: url(../img/P-4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.heading-right {
  border: 0;
  padding: 0;
  text-align: end;
  padding: 0 1rem 1rem 0;
  border-right: 0.3rem solid $color-tertiary-2;

  @include response(tabS) {
    border-right: 0;
  }
}
