.services {
  padding: 5rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50rem);
  position: relative;

  @include response(tabP) {
    grid-template-columns: repeat(1, 50rem);
  }

  @include response(tabS) {
    grid-template-columns: repeat(1, 100%);
    padding: 0;
    padding-bottom: 5rem;
  }

  &__service {
    padding: 5rem 2rem;
    transition: all 0.5s ease-out;

    @include response(tabS) {
      padding: 3rem 2rem;
    }

    &:not(:last-child) {
      border-bottom: 0.1rem solid;
    }

    &-divider {
      border-right: 0.1rem solid;

      @include response(tabP) {
        border-right: 0;
      }
    }

    &-heading {
      margin-bottom: 1rem;
      transition: all 0.5s ease-out;
    }

    &:hover {
      background-color: $color-tertiary-2;
    }

    &:hover &-heading {
      color: $color-secondry;
    }
  }
}
